body {
	font-family: $font-stack;
	font-size: 18px;
	line-height: 1.4em;
	padding-top: 2rem;
	padding-left: 0%;

	@include wide {
		padding-left: 15%;
		transition: $animation;
	}
}

a:link, a:visited {
	color: red;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	border-bottom: 1px solid red;
}

h1, h2 {
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.3em;
	padding: 0 0 0 1.5rem;
}

h3, h4 {
	margin: 1rem 0rem;
}

h4 {
	display: inline-block;
	border-bottom: $black-border;
}

nav {
	position: fixed;
	width: 100%;
	bottom: 0%;
	z-index: 1;
	border-top: $black-border;

	@include tablet {
		position: static;
		padding-left: 1.5rem;
		border-top: none;
	}
}

nav li {
	float: left;
	width: 25%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	background-color: white;

	@include tablet {
		width: auto;
		padding-right: 2rem;
	}
}

img {
	display: block;
	height: 75vh;
	position: absolute;
	bottom: 0%;
	right: 0%;

	@include wide {
		height: 90vh;
		transition: $animation;
	}
}

article {
	padding: 1.5rem;
	margin-bottom: 3rem;

	@include tablet {
		max-width: 500px;
	}
	img {
		display: none;

		@include desktop {
			display: block;
		}
	}

	p {
		margin-bottom: 1.4rem;
	}
}

ol li {
	line-height: 1.4rem;
	margin-bottom: 1.4rem;

	span {
		border-bottom: $black-border;
	}
}